@CHARSET "ISO-8859-1";
body{
	font-family:Arial, sans-serif;
	color:	#253f3f;
}
table {
	diplay:block;
	margin:0 auto;
	border-collapse: collapse;
}
th, td {
	padding:10px;
	border: 1px solid #ccc;
}
td{
	font-size:18px;
	text-align:center;
}
th{
	color:white;
	font-size:24px;
	background-color:	#253f3f;
}
.center{
	text-align:center;
}
.button{
	display:inline-block;
	text-align:center;
	margin:10px auto;
	padding:10px;
	background-color:#df5520;
	color:white;
	font-size:16px;
	border-radius: 2px;
}
.updateButton, #deleteButton{
	display:inline-block;
	text-align:center;
	width:60px;
	margin:10px auto;
	padding:10px;
	background-color:#c0c0c0;
	color:#004040;
	font-size:12px;
	border-radius: 2px;
	cursor:pointer;
}
input#deleteButton{
	/*background: transparent url(delete.png) no-repeat scroll 0 0;*/
/* 	background:url(delete.png);
background-repeat: no-repeat;
width:40px;
height:40px;
border: 0;
    cursor: pointer; */
}
h1{
	width:100%;
	text-align:center;
	background-color:#253f3f;
	color:white;
	padding: 10px;
}
h3{
	text-align:center;
	line-height: 24px;
	width:100%;
}
#newAppointmentForm{
	width:500px;
	display:block;
	margin:0 auto;
	text-align:right;
}
#updateAppointmentForm{

	width:500px;
	display:block;
	margin:0 auto;
	text-align:right;

}
input, select{
	margin:10px;
	border:none;
	background-color:#f8e8e2;
	padding:5px;
	width:300px;
}